<!-- Bluevia  -->
[URL_To_BlueVia_Dashboard]: http://bluevia.com

<!-- Overview -->
[URL_To_Known_Limitations_Overview]: /alpha/overview/knownlimitations/

<!-- Restref -->
[URL_To_BlueVia_Voice_RESTful_API_Reference]: /alpha/restref/
[URL_To_BlueVia_REST_API_Call_Leg]: /alpha/restref/callleg/
[URL_To_REST_API_Calls_Resource]: /alpha/restref/calls/

<!-- Notifications -->
[URL_To_BlueVia_Voice_Call_Event_Notification_Reference]: /alpha/notifications/

<!-- Command ref -->
[URL_To_Dial_Command]: /alpha/commandref/dial/
[URL_To_Dial_Number_Command]: /alpha/commandref/dialnumber/
[URL_To_Dial_Conference_Command]: /alpha/commandref/dialconference/
[URL_To_Dial_CallId_Command]: /alpha/commandref/dialcallid/
[URL_To_Speak_Command]: /alpha/commandref/speak/
[URL_To_Play_Command]: /alpha/commandref/play/
[URL_To_GetDigits_Command]: /alpha/commandref/getdigits/
[URL_To_Record_Command]: /alpha/commandref/record/
[URL_To_Hangup_Command]: /alpha/commandref/hangup/
[URL_To_Redirect_Command]: /alpha/commandref/redirect/
[URL_To_Wait_Command]: /alpha/commandref/wait/
[URL_To_SMS_Command]: /alpha/commandref/sms/
[URL_To_BlueVia_Voice_Command_Chains]: /alpha/commandref/commandchains/
